.App__header {

padding: 25px;
border-bottom: 1px solid rgb(233, 231, 231);
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 1140px;
    margin: 0 auto;
}

.header__btn {
    cursor: pointer;
    display: block;
    cursor: pointer;
    color: rgb(206, 44, 4);
    font-size: 20px;
    border: none;
    background: none;
    padding: 0;
}

.header__btn:hover {
    color: rgb(129, 125, 125);
}

.Card__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    
}
